@font-face {
  font-family: GalanoGrotesqueMedium;
  src: url('../fonts/Galano\ Grotesque\ Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: GalanoGrotesqueBold;
  src: url('../fonts/Galano\ Grotesque\ Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}